In [1]:
1 + 1

2

In [2]:
print(1 + 1)

2

In [3]:
1 + 1
1 + 23

24

In [4]:
print(1 + 1)
print(1 + 23)

2
24

# Operatii matematice

In [5]:
# Adunare
print(1 + 12)
# Scadere
print(23 - 23)
# Inmultire
print(2 * 7)
# Impartire
print( 10 / 5)

13
0
14
2.0

In [6]:
# Ridicare la putere
print(10 ** 3)

1000

In [8]:
print( 10 / 5) # Rezultatul impartirii este float

2.0

In [10]:
# Impartire fara rest
print( 10 // 5)

2

In [11]:
# Impartire fara rest
print( 11 // 5)

2

In [12]:
print( 11 / 5)

2.2

In [14]:
# Restul impartirii

print( 11 % 5)

1

In [15]:
print( 10 % 5)

0

# Float si int sunt compatibile

In [16]:
# Adunare
print(1.3 + 12)
# Scadere
print(23.3 - 23)
# Inmultire
print(2 * 7.2)
# Impartire
print( 10.2 / 5)

13.3
0.3000000000000007
14.4
2.04

# Bool, float si int sunt compatibile (matematic)

In [ ]:
# Adunare
print(1.3 + 12 + True) # True este convertit la 1
# Scadere
print(23.3 - 23 + True)
# Inmultire
print(2 * 7.2  + True)
# Impartire
print( 10.2 / 5 + True)

14.3
1.3000000000000007
15.4
3.04

In [18]:
# Adunare
print(1.3 + 12 + False) # True este convertit la 0
# Scadere
print(23.3 - 23 + True)
# Inmultire
print(2 * 7.2  + True)
# Impartire
print( 10.2 / 5 + True)

13.3
1.3000000000000007
15.4
3.04

# Operatiile matematice nu pot fi facute pe string (*)

In [19]:
# Adunare
print(1.3 + 12 + "312")

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [20]:
# Adunare
print(1.3 + 12 + int("312"))

325.3

# Operatie de concatenare (alipire a 2 stringuri)

In [21]:
print("ABC" + "XYZ")

ABCXYZ

In [22]:
print("ABC" * 3)

ABCABCABC

In [23]:
print("ABC" + "ABC" + "ABC")

ABCABCABC

In [24]:
print("ABC" * 3.0)

TypeError: can't multiply sequence by non-int of type 'float'

In [25]:
print("ABC" * 3.1)

TypeError: can't multiply sequence by non-int of type 'float'

In [26]:
print("ABC" * int(3.1))

ABCABCABC

In [27]:
print("ABC" * 3)

ABCABCABC