In [1]:
x = 10
print(x)

10

# Python este case sensitive

In [2]:
print(X)

NameError: name 'X' is not defined

# Nu pot avea spatiu in nume de variabila

In [4]:
o_variabila = 10
print(o_variabila)

10

# Cuvinte cheie nu pot fi nume de variabila

In [5]:
if = 10

SyntaxError: invalid syntax (182722112.py, line 1)

# Numele nu pot incepe cu cifre

In [6]:
2var = 23

SyntaxError: invalid decimal literal (3516486404.py, line 1)

In [7]:
var2 = 23