In [1]:
text = '1,2,3,3,4,4,5,5,6,6,7'

In [2]:
text.split(',')

['1', '2', '3', '3', '4', '4', '5', '5', '6', '6', '7']

In [5]:
list(map(int, text.split(',')))

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7]

In [6]:
list(map(lambda x: int(x) , text.split(',')))

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7]

In [7]:
list(map(lambda x: int(x) ** 2 , text.split(',')))

[1, 4, 9, 9, 16, 16, 25, 25, 36, 36, 49]

In [8]:
culori = ['rosu', 'verde', 'albastru']

In [10]:
def ascunde(text):
    return len(text) * "*"

In [11]:
list(map(   ascunde     , culori))

['****', '*****', '********']

In [12]:
import pandas as pd

In [13]:
culori = ['rosu', 'verde', 'albastru']
temperaturi = [1, 2, 3]

df = pd.DataFrame({"culori": culori, "temperaturi": temperaturi})
df

     culori  temperaturi
0      rosu            1
1     verde            2
2  albastru            3

In [15]:

df["culori"] = df["culori"].map(ascunde)
df

     culori  temperaturi
0      ****            1
1     *****            2
2  ********            3