In [37]:
import pandas as pd

In [38]:
URL = "https://raw.githubusercontent.com/sojog/Python-ADR-22-23-ianuarie-2026/refs/heads/main/Ziua2/clwin.csv"

In [39]:
df = pd.read_csv(URL, index_col=0)
df

        country           team  trophies
id
0       England      Liverpool       6.0
1         Spain      Barcelona       5.0
2       England     Man United       3.0
3         Italy          Inter       3.0
4       England        Chelsea       2.0
5       England        Chelsea       2.0
6       England   Nottm Forest       2.0
7      Portugal        Benfica       2.0
8         Italy       Juventus       2.0
9      Portugal       FC Porto       2.0
10      England       Man City       1.0
11      Germany       Dortmund       1.0
12  Netherlands      Feyenoord       1.0
13       France      Marseille       1.0
14      England    Aston Villa       1.0
15      Germany        Hamburg       1.0
16       Serbia  Crvena zvezda       1.0
17      Romania           FCSB       NaN
18  Netherlands            PSV       1.0
19     Scotland         Celtic       1.0

In [40]:
teams = [["Spain", "Real", 15], ["Italy", "Milan", 7], ["Germany", "Bayern", 6]]

In [41]:
big_clubs_df = pd.DataFrame(teams, columns=["country", "team", "trophies"])
big_clubs_df

   country    team  trophies
0    Spain    Real        15
1    Italy   Milan         7
2  Germany  Bayern         6

In [42]:
merged_df = pd.concat([df, big_clubs_df ])
merged_df

        country           team  trophies
0       England      Liverpool       6.0
1         Spain      Barcelona       5.0
2       England     Man United       3.0
3         Italy          Inter       3.0
4       England        Chelsea       2.0
5       England        Chelsea       2.0
6       England   Nottm Forest       2.0
7      Portugal        Benfica       2.0
8         Italy       Juventus       2.0
9      Portugal       FC Porto       2.0
10      England       Man City       1.0
11      Germany       Dortmund       1.0
12  Netherlands      Feyenoord       1.0
13       France      Marseille       1.0
14      England    Aston Villa       1.0
15      Germany        Hamburg       1.0
16       Serbia  Crvena zvezda       1.0
17      Romania           FCSB       NaN
18  Netherlands            PSV       1.0
19     Scotland         Celtic       1.0
0         Spain           Real      15.0
1         Italy          Milan       7.0
2       Germany         Bayern       6.0

In [43]:
merged_df = merged_df.reset_index(drop=True)
merged_df

        country           team  trophies
0       England      Liverpool       6.0
1         Spain      Barcelona       5.0
2       England     Man United       3.0
3         Italy          Inter       3.0
4       England        Chelsea       2.0
5       England        Chelsea       2.0
6       England   Nottm Forest       2.0
7      Portugal        Benfica       2.0
8         Italy       Juventus       2.0
9      Portugal       FC Porto       2.0
10      England       Man City       1.0
11      Germany       Dortmund       1.0
12  Netherlands      Feyenoord       1.0
13       France      Marseille       1.0
14      England    Aston Villa       1.0
15      Germany        Hamburg       1.0
16       Serbia  Crvena zvezda       1.0
17      Romania           FCSB       NaN
18  Netherlands            PSV       1.0
19     Scotland         Celtic       1.0
20        Spain           Real      15.0
21        Italy          Milan       7.0
22      Germany         Bayern       6.0

In [44]:
merged_df

        country           team  trophies
0       England      Liverpool       6.0
1         Spain      Barcelona       5.0
2       England     Man United       3.0
3         Italy          Inter       3.0
4       England        Chelsea       2.0
5       England        Chelsea       2.0
6       England   Nottm Forest       2.0
7      Portugal        Benfica       2.0
8         Italy       Juventus       2.0
9      Portugal       FC Porto       2.0
10      England       Man City       1.0
11      Germany       Dortmund       1.0
12  Netherlands      Feyenoord       1.0
13       France      Marseille       1.0
14      England    Aston Villa       1.0
15      Germany        Hamburg       1.0
16       Serbia  Crvena zvezda       1.0
17      Romania           FCSB       NaN
18  Netherlands            PSV       1.0
19     Scotland         Celtic       1.0
20        Spain           Real      15.0
21        Italy          Milan       7.0
22      Germany         Bayern       6.0

In [46]:
merged_df.sort_values("trophies", ascending=False)

        country           team  trophies
20        Spain           Real      15.0
21        Italy          Milan       7.0
0       England      Liverpool       6.0
22      Germany         Bayern       6.0
1         Spain      Barcelona       5.0
2       England     Man United       3.0
3         Italy          Inter       3.0
4       England        Chelsea       2.0
6       England   Nottm Forest       2.0
7      Portugal        Benfica       2.0
8         Italy       Juventus       2.0
9      Portugal       FC Porto       2.0
5       England        Chelsea       2.0
16       Serbia  Crvena zvezda       1.0
19     Scotland         Celtic       1.0
18  Netherlands            PSV       1.0
13       France      Marseille       1.0
15      Germany        Hamburg       1.0
14      England    Aston Villa       1.0
12  Netherlands      Feyenoord       1.0
10      England       Man City       1.0
11      Germany       Dortmund       1.0
17      Romania           FCSB       NaN

In [51]:
merged_df = merged_df.sort_values(["trophies", "team"], ascending=[False, True]).reset_index(drop=True)
merged_df

        country           team  trophies
0         Spain           Real      15.0
1         Italy          Milan       7.0
2       Germany         Bayern       6.0
3       England      Liverpool       6.0
4         Spain      Barcelona       5.0
5         Italy          Inter       3.0
6       England     Man United       3.0
7      Portugal        Benfica       2.0
8       England        Chelsea       2.0
9       England        Chelsea       2.0
10     Portugal       FC Porto       2.0
11        Italy       Juventus       2.0
12      England   Nottm Forest       2.0
13      England    Aston Villa       1.0
14     Scotland         Celtic       1.0
15       Serbia  Crvena zvezda       1.0
16      Germany       Dortmund       1.0
17  Netherlands      Feyenoord       1.0
18      Germany        Hamburg       1.0
19      England       Man City       1.0
20       France      Marseille       1.0
21  Netherlands            PSV       1.0
22      Romania           FCSB       NaN

In [54]:
merged_df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
dtype: bool

In [57]:
merged_df[merged_df.duplicated(subset=["team"])]

   country     team  trophies
9  England  Chelsea       2.0

In [58]:
merged_df.drop_duplicates(subset="team")

        country           team  trophies
0         Spain           Real      15.0
1         Italy          Milan       7.0
2       Germany         Bayern       6.0
3       England      Liverpool       6.0
4         Spain      Barcelona       5.0
5         Italy          Inter       3.0
6       England     Man United       3.0
7      Portugal        Benfica       2.0
8       England        Chelsea       2.0
10     Portugal       FC Porto       2.0
11        Italy       Juventus       2.0
12      England   Nottm Forest       2.0
13      England    Aston Villa       1.0
14     Scotland         Celtic       1.0
15       Serbia  Crvena zvezda       1.0
16      Germany       Dortmund       1.0
17  Netherlands      Feyenoord       1.0
18      Germany        Hamburg       1.0
19      England       Man City       1.0
20       France      Marseille       1.0
21  Netherlands            PSV       1.0
22      Romania           FCSB       NaN

In [59]:
merged_df[["team",	"trophies", "country"]]

             team  trophies      country
0            Real      15.0        Spain
1           Milan       7.0        Italy
2          Bayern       6.0      Germany
3       Liverpool       6.0      England
4       Barcelona       5.0        Spain
5           Inter       3.0        Italy
6      Man United       3.0      England
7         Benfica       2.0     Portugal
8         Chelsea       2.0      England
9         Chelsea       2.0      England
10       FC Porto       2.0     Portugal
11       Juventus       2.0        Italy
12   Nottm Forest       2.0      England
13    Aston Villa       1.0      England
14         Celtic       1.0     Scotland
15  Crvena zvezda       1.0       Serbia
16       Dortmund       1.0      Germany
17      Feyenoord       1.0  Netherlands
18        Hamburg       1.0      Germany
19       Man City       1.0      England
20      Marseille       1.0       France
21            PSV       1.0  Netherlands
22           FCSB       NaN      Romania

In [60]:
merged_df[["team",	"trophies"]]

             team  trophies
0            Real      15.0
1           Milan       7.0
2          Bayern       6.0
3       Liverpool       6.0
4       Barcelona       5.0
5           Inter       3.0
6      Man United       3.0
7         Benfica       2.0
8         Chelsea       2.0
9         Chelsea       2.0
10       FC Porto       2.0
11       Juventus       2.0
12   Nottm Forest       2.0
13    Aston Villa       1.0
14         Celtic       1.0
15  Crvena zvezda       1.0
16       Dortmund       1.0
17      Feyenoord       1.0
18        Hamburg       1.0
19       Man City       1.0
20      Marseille       1.0
21            PSV       1.0
22           FCSB       NaN

In [62]:
merged_df.drop(axis=1,columns="country")

             team  trophies
0            Real      15.0
1           Milan       7.0
2          Bayern       6.0
3       Liverpool       6.0
4       Barcelona       5.0
5           Inter       3.0
6      Man United       3.0
7         Benfica       2.0
8         Chelsea       2.0
9         Chelsea       2.0
10       FC Porto       2.0
11       Juventus       2.0
12   Nottm Forest       2.0
13    Aston Villa       1.0
14         Celtic       1.0
15  Crvena zvezda       1.0
16       Dortmund       1.0
17      Feyenoord       1.0
18        Hamburg       1.0
19       Man City       1.0
20      Marseille       1.0
21            PSV       1.0
22           FCSB       NaN

In [63]:
merged_df.head(2)

  country   team  trophies
0   Spain   Real      15.0
1   Italy  Milan       7.0

In [64]:
merged_df.loc[23] = ["France", "PSG", 1]

In [65]:
merged_df

        country           team  trophies
0         Spain           Real      15.0
1         Italy          Milan       7.0
2       Germany         Bayern       6.0
3       England      Liverpool       6.0
4         Spain      Barcelona       5.0
5         Italy          Inter       3.0
6       England     Man United       3.0
7      Portugal        Benfica       2.0
8       England        Chelsea       2.0
9       England        Chelsea       2.0
10     Portugal       FC Porto       2.0
11        Italy       Juventus       2.0
12      England   Nottm Forest       2.0
13      England    Aston Villa       1.0
14     Scotland         Celtic       1.0
15       Serbia  Crvena zvezda       1.0
16      Germany       Dortmund       1.0
17  Netherlands      Feyenoord       1.0
18      Germany        Hamburg       1.0
19      England       Man City       1.0
20       France      Marseille       1.0
21  Netherlands            PSV       1.0
22      Romania           FCSB       NaN
23       France            PSG       1.0

In [70]:
merged_df.iloc[22]["team"]

'FCSB'

In [73]:
merged_df.loc[22, "team"] = "Steaua"
merged_df

        country           team  trophies
0         Spain           Real      15.0
1         Italy          Milan       7.0
2       Germany         Bayern       6.0
3       England      Liverpool       6.0
4         Spain      Barcelona       5.0
5         Italy          Inter       3.0
6       England     Man United       3.0
7      Portugal        Benfica       2.0
8       England        Chelsea       2.0
9       England        Chelsea       2.0
10     Portugal       FC Porto       2.0
11        Italy       Juventus       2.0
12      England   Nottm Forest       2.0
13      England    Aston Villa       1.0
14     Scotland         Celtic       1.0
15       Serbia  Crvena zvezda       1.0
16      Germany       Dortmund       1.0
17  Netherlands      Feyenoord       1.0
18      Germany        Hamburg       1.0
19      England       Man City       1.0
20       France      Marseille       1.0
21  Netherlands            PSV       1.0
22      Romania         Steaua       NaN
23       France            PSG       1.0

In [74]:
merged_df.loc[22] = ["Romania", "Steaua", 1]

In [75]:
merged_df

        country           team  trophies
0         Spain           Real      15.0
1         Italy          Milan       7.0
2       Germany         Bayern       6.0
3       England      Liverpool       6.0
4         Spain      Barcelona       5.0
5         Italy          Inter       3.0
6       England     Man United       3.0
7      Portugal        Benfica       2.0
8       England        Chelsea       2.0
9       England        Chelsea       2.0
10     Portugal       FC Porto       2.0
11        Italy       Juventus       2.0
12      England   Nottm Forest       2.0
13      England    Aston Villa       1.0
14     Scotland         Celtic       1.0
15       Serbia  Crvena zvezda       1.0
16      Germany       Dortmund       1.0
17  Netherlands      Feyenoord       1.0
18      Germany        Hamburg       1.0
19      England       Man City       1.0
20       France      Marseille       1.0
21  Netherlands            PSV       1.0
22      Romania         Steaua       1.0
23       France            PSG       1.0

In [ ]:
merged_df.groupby("country").agg('sum')

                                                          team  trophies
country
England      LiverpoolMan UnitedChelseaChelseaNottm ForestA...      17.0
France                                            MarseillePSG       2.0
Germany                                  BayernDortmundHamburg       8.0
Italy                                       MilanInterJuventus      12.0
Netherlands                                       FeyenoordPSV       2.0
Portugal                                       BenficaFC Porto       4.0
Romania                                                 Steaua       1.0
Scotland                                                Celtic       1.0
Serbia                                           Crvena zvezda       1.0
Spain                                            RealBarcelona      20.0

In [82]:
merged_df.groupby("country").agg('sum').sort_values('trophies', ascending=False)

                                                          team  trophies
country
Spain                                            RealBarcelona      20.0
England      LiverpoolMan UnitedChelseaChelseaNottm ForestA...      17.0
Italy                                       MilanInterJuventus      12.0
Germany                                  BayernDortmundHamburg       8.0
Portugal                                       BenficaFC Porto       4.0
France                                            MarseillePSG       2.0
Netherlands                                       FeyenoordPSV       2.0
Romania                                                 Steaua       1.0
Scotland                                                Celtic       1.0
Serbia                                           Crvena zvezda       1.0